.scrollBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 0.25rem;
  height: 4rem;
  margin: 0.5rem;
  border-radius: 0.125rem;
  background-color: #fff5;
  opacity: 1;
  transition: opacity 1s ease;
}

.hidden {
  opacity: 0;
}
